#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    background-color: #303030;

    position: fixed;
    left: 100px;
    top: 0;
    width: 73%;
    height: 35px;

    border-radius: 10px;
    border-bottom: #778899;
}

#navigation li{
    float: none;
    border-left: #778899;
    border-right: #778899;
    display: inline-block;
    padding-top: 8px;
}

#navigation li a{
    color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    padding: 24px 26px;
    
}

#image_pin{
    float: left;
    width: 10%;
    margin: 0;
    padding-left: 20px;
}