#title {
    padding-top: 20px;
    font-family: 'Parisienne' ;
    text-align: center;
}

body{
    background-color: #78818a;
}

.whole {
    width: 940px;
    height: 1000px;
    margin: 20px auto 20px auto;
    background-color: #f0f0f0;
    position: relative;
}


nav ul{
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 7px;
    border-bottom-color: lightsalmon;
    border-bottom: 20px;
    background-color: #d8d9da;
    min-width: 200px;
}

hr{
    background-color: firebrick;
    border: none;
    height: 3px;
}

nav li{
    margin: 20px;
    padding: 7px;
    border-left: 2px #778899;
    border-right: 2px #778899;
    display: inline-block;
    overflow: hidden;
    font-family: sans-serif;
}

.contain{
    width: 600px;
    float: left;
}

.content{
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
    font-family: sans-serif;
    height: 320px;
}

.side{
    float: right;
    width: 340px;
}

#article-img{
    width: 500px;
    height: 400px;
}